@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-primary-*: initial;
  --color-primary: #137fec;

  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-card-dark: #1a242f;
  --color-neutral-dark: #1e293b;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

